@import "../../sass/colors.scss";
@import "../../sass/typography.scss";
@import "../../sass/mixing.scss";
@import "../../sass/variebles.scss";

.packageBox {
  &:nth-child(2) {
    margin-top: 5rem;
  }
  .card {
    margin: 1rem 2rem;

    @media (max-width: 780px) {
      margin: 1rem 0;
    }
    width: 100%;
    border: transparent !important;
    box-shadow: $shadow;
  }
  .list-group-item {
    font-family: FontAwesome;
    border: transparent;
    font-size: 1.6rem;
    position: relative;
    &::before {
      content: "\f058";
      color: rgb(35, 161, 67);
      position: absolute;
      font-size: 2rem;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }
  }
}
