@import "../../sass/colors.scss";
@import "../../sass/typography.scss";
@import "../../sass/mixing.scss";
@import "../../sass/variebles.scss";

.contentBox {
  padding: 1rem;
  &:nth-child(odd) {
    margin-top: 5rem;
  }
  h1 {
    position: relative;

  }
   &:nth-child(1) {
     h1::before{
      content: '';
      width: 4rem;
      height: 4rem;
      background: url('../../assets/images/world-wide-web-icon-15.png');
      background-position: center;
      background-size: cover;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      
     }
   }
   &:nth-child(2) {
     h1::before{
      content: '';
      width: 4rem;
      height: 4rem;
      background: url('../../assets/images/layout.jpg');
      background-position: center;
      background-size: cover;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      
     }
   }
   &:nth-child(3) {
     h1::before{
      content: '';
      width: 4rem;
      height: 4rem;
      background: url('../../assets/images/seo-icon-png-13.png');
      background-position: center;
      background-size: cover;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      
     }
   }
  div {
    box-shadow: $shadow;
    padding: 2rem;
    position: relative;

    &::after,
    &::before {
      content: "";

      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      
    }

    &::after {
      width: 40%;
      height: 4px;
      background-color: rgb(211, 54, 54);
    }

    &::before {
      height: 40%;
      width: 4px;
      background-color: rgb(211, 54, 54);
    }
  }
  p {
    // line-height: 1.2rem;
    // position: absolute;
    font-size: 1.6rem;

  }
}
