@import "../../sass/colors.scss";
@import "../../sass/typography.scss";
@import "../../sass/mixing.scss";

.header {
 
  position: relative;
  z-index: 1;
  
  &__bg {
  height: 80vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 780px) {
    height: 70vh;
  }
   &-1 {
    background-image: url('../../assets/images/image\ \(2\).jpg');
   }
   &-2 {
    background-image: url('../../assets/images/slide\ \(1\).jpg');

   }
   &-3 {
    background-image: url('../../assets/images/slide\ \(2\).jpg');

   }
  }

  &__content {
    position: absolute;
    color: #fff;
    width: 30rem;
    top: 35%;
    left: 5%;
    @media (max-width: 780px) {
      top: 20%;
      width: 80%;
      }
    h1 {
      margin: 0;
      font-family: mulbery;
      font-size: 10rem;
      @media (max-width: 780px) {
        font-size:7rem
    
        }
        @media (max-width: 580px) {
          font-size:6rem;
        margin-bottom: 1rem !important;
         
                 
          }
    }
    p {
      font-size: 1.8rem;
      @media (max-width: 580px) {
        margin-bottom: 1rem !important;
              
        }
    }
    a:link,a:active,a {
      text-decoration: none !important;
      font-size: 2rem;
      padding: 1rem 3rem;
      color: $color-white;
      margin-top: 1rem;
      display: inline-block;
      transition: .5s  background;

      &:hover {
        background: $color-secondary;
        border: transparent;
      }
      // background: linear-gradient(to right,
      //   rgba(211, 57, 196, 1) 0%,
      //   rgba(214, 41, 190, 1) 28.62%,
      //   rgba(214, 29, 179, 1) 63.18%,
      //   rgba(255, 0, 255, 1) 100%
      // );
      border: 1px solid $color-secondary;
       border-radius: 50rem;
      @media (max-width: 780px) {
        font-size:1.8rem;
        padding: .7rem 1.5rem;
        margin-bottom: 1rem !important;
              
        }
      
    }
  }
}
