@import '../../sass/colors.scss';
@import '../../sass/typography.scss';
@import '../../sass/mixing.scss';
@import '../../sass/variebles.scss';

.projectBox {

    &:nth-child(2) {
        margin-top: 5rem;
    }
    .card {
        width: 100%;
        margin: 1rem 2rem;
        @media(max-width: 780px) {
            margin: 1rem 0;
          }
        
          border: transparent !important;
          box-shadow: $shadow;
          padding: 2rem;
      }

    p {
        font-size: 1.6rem;
        text-align: left;
    }
}