@font-face {
  font-family: Oingo;
  src: url("../../assets/fonts/Oingo.otf");
}

@import "../../sass/colors.scss";
@import "../../sass/typography.scss";
@import "../../sass/mixing.scss";

.navBar {
  padding: 0 3rem;

  li {
    &:hover {
      a {
        color: $color-secondary !important;
      }
    }
    a {
      font-size: 2rem;
      color: #333333 !important;
    }

    .nav-link.active {
      color: $color-secondary !important;
    }
  }
  &__logo {
    width: 10rem;
  }
}

.navbar-icon {
  width: 2.5rem;
  height: 2.5rem;
}